<a href="https://colab.research.google.com/github/GnosGnas/EDA_Car/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://forms.gle/V8TwPser5SjThy756 (for doubts)
#https://www.kaggle.com/CooperUnion/cardataset
#include headings, comments, introduction, opening pic
 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn import metrics

# sdsd
##n fif

In [ ]:
df = pd.read_csv('data.csv')
#df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [ ]:
#df.tail()

          Make   Model  Year  ... city mpg  Popularity   MSRP
11909    Acura     ZDX  2012  ...       16         204  46120
11910    Acura     ZDX  2012  ...       16         204  56670
11911    Acura     ZDX  2012  ...       16         204  50620
11912    Acura     ZDX  2013  ...       16         204  50920
11913  Lincoln  Zephyr  2006  ...       17          61  28995

[5 rows x 16 columns]

In [ ]:
#df.shape

(11914, 16)

In [ ]:
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [ ]:
df.describe()

               Year    Engine HP  ...    Popularity          MSRP
count  11914.000000  11845.00000  ...  11914.000000  1.191400e+04
mean    2010.384338    249.38607  ...   1554.911197  4.059474e+04
std        7.579740    109.19187  ...   1441.855347  6.010910e+04
min     1990.000000     55.00000  ...      2.000000  2.000000e+03
25%     2007.000000    170.00000  ...    549.000000  2.100000e+04
50%     2015.000000    227.00000  ...   1385.000000  2.999500e+04
75%     2016.000000    300.00000  ...   2009.000000  4.223125e+04
max     2017.000000   1001.00000  ...   5657.000000  2.065902e+06

[8 rows x 8 columns]

In [ ]:
df = df.rename(columns = {'Engine HP':'HP','Engine Cylinders':'Cylinders','Transmission Type':'Transmission','Driven_Wheels':'Drive Mode','highway MPG':'MPG-H','city mpg':'MPG-C','MSRP':'Price'})
#df.head()

  Make       Model  Year  ... MPG-C  Popularity  Price
0  BMW  1 Series M  2011  ...    19        3916  46135
1  BMW    1 Series  2011  ...    19        3916  40650
2  BMW    1 Series  2011  ...    20        3916  36350
3  BMW    1 Series  2011  ...    18        3916  29450
4  BMW    1 Series  2011  ...    18        3916  34500

[5 rows x 16 columns]

In [ ]:
features = ['Year','Engine Fuel Type','HP','Cylinders','Transmission','Drive Mode','Number of Doors','Vehicle Size','Vehicle Style','MPG-H','MPG-C','Popularity']
cdf = df[features+['Price']] ###include popularity, remove engine fuel type, number of doors, market category
le = LabelEncoder()

cdf['Engine Fuel Type'] = cdf['Engine Fuel Type'].astype('|S')

#cdf['Make'] = le.fit_transform(cdf['Make'])

cdf['Year'] = le.fit_transform(cdf['Year'])


cdf[['Engine Fuel Type']] = le.fit_transform(cdf[['Engine Fuel Type']])

cdf['Transmission'] = le.fit_transform(cdf['Transmission'])

cdf['Drive Mode'] = le.fit_transform(cdf['Drive Mode'])

cdf['Vehicle Size'] = le.fit_transform(cdf['Vehicle Size'])

cdf['Vehicle Style'] = le.fit_transform(cdf['Vehicle Style'])

#cdf['Number of Doors'] = le.fit_transform(cdf['Number of Doors'])

cdf['Cylinders'] = le.fit_transform(cdf['Cylinders'])

cdf.count() / len(cdf)
cdf.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Year  Engine Fuel Type     HP  Cylinders  ...  MPG-H  MPG-C  Popularity  Price
0    21                 9  335.0          4  ...     26     19        3916  46135
1    21                 9  300.0          4  ...     28     19        3916  40650
2    21                 9  300.0          4  ...     28     20        3916  36350
3    21                 9  230.0          4  ...     28     18        3916  29450
4    21                 9  230.0          4  ...     28     18        3916  34500

[5 rows x 13 columns]

In [ ]:
xd = cdf[cdf.duplicated()]
print(xd.shape)
cdf = cdf.drop_duplicates()
cdf.shape

(729, 13)

(11185, 13)

In [ ]:
cdf.isnull().sum()

Year                 0
Engine Fuel Type     0
HP                  69
Cylinders            0
Transmission         0
Drive Mode           0
Number of Doors      6
Vehicle Size         0
Vehicle Style        0
MPG-H                0
MPG-C                0
Popularity           0
Price                0
dtype: int64

In [ ]:
cdf.dropna()
cdf.isnull().sum()

Year                 0
Engine Fuel Type     0
HP                  69
Cylinders            0
Transmission         0
Drive Mode           0
Number of Doors      6
Vehicle Size         0
Vehicle Style        0
MPG-H                0
MPG-C                0
Popularity           0
Price                0
dtype: int64

In [ ]:
train_df = cdf[0:10000]
test_df = cdf[10000:]

In [ ]:

X = train_df[features].values
y = train_df[['Price']].values

train_X, val_X, train_y, val_y = train_test_split(X,y,test_size = 0.3,random_state = 1)

In [ ]:
np.mean(np.isnan(X))

0.000625

In [ ]:
from sklearn.tree import DecisionTreeRegressor

DTR_model = DecisionTreeRegressor(random_state = 1)
DTR_model.fit(train_X,train_y)
predictions = DTR_model.predict(val_X)
mae = mean_absolute_error(val_y,predictions)
mae

ValueError: ignored

Normal without any standardisation: mae = 3939